<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>Document</title>
	<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' />
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css' />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css' />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css' />
	{{!@ FONT AND ICON }}
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css' />
	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap'
		rel='stylesheet' />
	<link rel='stylesheet' href='/css/app.css' />
	<link rel='stylesheet' href='/css/{{style}}' />
	{{!------------------------- SCRIPT ----------------------------------}}
	<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js'></script>
	<script defer src='/scripts/script.js'></script>
</head>

<body>
	<section class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-4 mb-sm-5">
					<div class="card card-style1 border-0">
						<div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
							<div class="row align-items-center">
								<div class="col-lg-4 mb-4 mb-lg-0 profile-left-container">
									<div class="bg-dark d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded w-100">
										<h3 class="h2 text-white mb-0">{{nhanvien.HoTen}}</h3>
										<h5 class="text-primary">{{nhanvien.TenCV}}</h5>
									</div>
									{{#ifCond nhanvien.GioiTinh 'Nữ'}}
										<img src="/img/avatar-female.jpg" class="avatar" alt="female">
									{{/ifCond}}
									{{#ifCond nhanvien.GioiTinh 'Nam'}}
										<img src="/img/avatar-male.jpg" class="avatar" alt="male">
									{{/ifCond}}
								</div>
								<div class="col-lg-8 px-xl-10 profile-right-container">
									<ul class="list-unstyled mb-1-9">
										
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Mã nhân viên:</span>
											{{nhanvien.MaNV}}
										</li>
										
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Phòng:</span>{{nhanvien.TenPhong}}
										</li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Giới tính:</span> {{nhanvien.GioiTinh}} </li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Ngày sinh:</span>{{nhanvien.NgaySinh}} </li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Địa chỉ:</span> {{nhanvien.DiaChi}}</li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Số tài khoản:</span> {{nhanvien.STK}}</li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											CMND:</span>{{nhanvien.CMND}}</li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Số bảo hiểm:</span>{{nhanvien.SoBH}}</li>
										<li class="mb-2 mb-xl-3 display-28">
											<span class="display-26 text-secondary me-2 font-weight-600">
											Số điện thoại:</span> {{nhanvien.SDT}}</li>
									</ul>
								</div>
								<div class="col-lg-12 grid-table">
					<table class="table ">
						<thead>
							<tr>
								<th scope="col">Tháng</th>
								<th scope="col">Lương cơ bản</th>
								<th scope="col">Tăng ca</th>
								<th scope="col">Bảo hiểm xã hội</th>
								<th scope="col">Thuế</th>
								<th scope="col">Lương thực nhận</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>15.000.000đ</td>
								<td>700.000đ</td>
								<td>400.000đ</td>
								<td>400.000đ</td>
								<td>13.500.000đ</td>
			
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>15.000.000đ</td>
								<td>700.000đ</td>
								<td>400.000đ</td>
								<td>400.000đ</td>
								<td>13.500.000đ</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>15000000đ</td>
								<td>700.000đ</td>
								<td>400.000đ</td>
								<td>400.000đ</td>
								<td>13.500.000đ</td>
							</tr>
							
						</tbody>
					</table>

					<div class="option-buttons d-flex ">
						<button type="button" class="btnn "data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ứng lương</button>
						<button type="button" class="btnn "data-bs-toggle="modal" data-bs-target="#staticBackdrop1">khiếu nại</button>
						<button type="button" class="btnn "data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Xem bảng chấm công</button>
						<button type="button" class="btnn ms-auto">Đăng xuất</button>
						<!-- Button trigger modal -->

						<!-- Modal -->
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Phiếu ứng lương</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<h3>Nhập số tiền</h3>
									<input type="number"id="replyNumber" min="1000000" data-bind="value:replyNumber" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
									<h3>Lý do</h3>
									<textarea ></textarea>
								</div>
								<div class="modal-footer">
									<button type="button" class="btnn " data-bs-dismiss="modal">Hủy</button>
									<button type="button" class="btnn " data-bs-dismiss="modal">Xác nhận</button>
								</div>
								</div>
							</div>
						</div>
						<!-- Modal 1-->
						<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel1">Khiếu nại</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">									
									<h3>Lý do</h3>
									<textarea></textarea>
								</div>
								<div class="modal-footer">
									<button type="button" class="btnn " data-bs-dismiss="modal">Hủy</button>
									<button type="button" class="btnn " data-bs-dismiss="modal">Xác nhận</button>
								</div>
								</div>
							</div>
						</div>
						<!-- Modal 2-->
						<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
						<div class="modal-dialog test-modal">
							<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="staticBackdropLabel1">Bảng chấm công</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
                                    <div class="card shadow border-0 mb-7 mt-5  ">
                                        <div class="card-header ">
                                            <h5 class="mb-0">Bảng chấm công tháng 12</h5>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-nowrap ">
                                                <thead >
                                                    <tr>
                                                        <th scope="col">Mã công</th>
                                                        <th scope="col">Mã nhân viên</th>
                                                        <th scope="col">Tình trạng</th>
                                                        <th scope="col">Ngày</th>
                                                        <th scope="col">Nghỉ HL</th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/01</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/02</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>0</td>
                                                        <td>2022/12/03</td>
														<td>1</td>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/04</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/05</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/05</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/05</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/05</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/05</td>
                                                        <td>0</td>
                                                    </tr>
													<tr>
                                                        <td>CC00001</td>
                                                        <td>NV003</td>
                                                        <td>1</td>
                                                        <td>2022/12/06</td>
                                                        <td>0</td>
                                                    </tr>
														
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
							</div>
							
							</div>
						</div>
						</div>
					</div>
					
				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>

<script>
	
</script>